@use "../../common" as common;

.tsx-cmpnts-image-placeholder {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    background-color: common.$placeholder-grey;
    border-radius: common.$border-radius-px-round;
}