.tsx-cmpnt-left-right-content-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
  gap: 1rem;
  margin: 10000px, 0px;
}

.tsx-cmpnt-left-right-content-right,
.tsx-cmpnt-left-right-content-left {
  width: calc(50% - 0.5rem);
  max-width: calc(50% - 0.5rem);
  height: auto;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tsx-cmpnt-left-right-content-shrink-right,
.tsx-cmpnt-left-right-content-shrink-left {
  width: calc(34% - 0.5rem);
  max-width: calc(34% - 0.5rem);
  height: auto;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tsx-cmpnt-left-right-content-expand-right,
.tsx-cmpnt-left-right-content-expand-left {
  width: calc(66% - 0.5rem);
  max-width: calc(66% - 0.5rem);
  height: auto;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .tsx-cmpnt-left-right-content-container {
    flex-direction: column;
  }

  .tsx-cmpnt-left-right-content-right,
  .tsx-cmpnt-left-right-content-left,
  .tsx-cmpnt-left-right-content-shrink-right,
  .tsx-cmpnt-left-right-content-shrink-left,
  .tsx-cmpnt-left-right-content-expand-right,
  .tsx-cmpnt-left-right-content-expand-left {
    width: 100%;
    max-width: 100%;
  }
}
