@use '../../common' as common;

div.tsx-cmpnt-hovertip {
  position: relative;
  display: inline-block;
}

span.tsx-cmpnt-hovertip-tip-text {
  display: none;
  position: absolute;
  width: max-content;
  max-width: 200px;

  font-size: small;
  text-align: center;

  color: #fff;
  border: 1px dotted white;
  background-color: black;

  padding: 5px;
  border-radius: common.$border-radius-px-round;
  z-index: 1;
  white-space: nowrap;
}

div.tsx-cmpnt-hovertip:hover
  span.tsx-cmpnt-hovertip-tip-text {
  display: block;
}

div.tsx-cmpnt-hovertip-position-top
  span.tsx-cmpnt-hovertip-tip-text {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-5px);
}

div.tsx-cmpnt-hovertip-position-top
  span.tsx-cmpnt-hovertip-tip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

div.tsx-cmpnt-hovertip-position-bottom
  span.tsx-cmpnt-hovertip-tip-text {
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(5px);
}

div.tsx-cmpnt-hovertip-position-bottom
  span.tsx-cmpnt-hovertip-tip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

div.tsx-cmpnt-hovertip-position-left
  span.tsx-cmpnt-hovertip-tip-text {
  right: 100%;
  top: 50%;
  transform: translateX(-5px) translateY(-50%);
}

div.tsx-cmpnt-hovertip-position-left
  span.tsx-cmpnt-hovertip-tip-text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

div.tsx-cmpnt-hovertip-position-right
  span.tsx-cmpnt-hovertip-tip-text {
  left: 100%;
  top: 50%;
  transform: translateX(5px) translateY(-50%);
}

div.tsx-cmpnt-hovertip-position-right
  span.tsx-cmpnt-hovertip-tip-text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}