$maximum-allowable-screen-width: 1200px;
$maximum-allowable-screen-width-larger: 1400px;
$maximum-allowable-screen-width-largest: 1600px;
$maximum-allowable-screen-width-component: 1900px;


$media-screen-tablet: 960px;
$media-screen-phone: 640px;

$reduced-banner-height: 350px;
$banner-image-height: 600px;

$home-page-theme-color: #84D2F6;
$home-page-theme-color-hover: #4887b1;
$home-page-text-theme-color: #4887b1;
$home-page-text-theme-color-hover: #84D2F6;

$flower-yellow: #fdf06e;
$flower-pink: #fea9d2;
$flower-pink-text: #c26491;
$six-red: #c3515c;
$placeholder-grey: #dadada;
$placeholder-shimmer: #e5e5e5;

/* Border Radius */
$border-radius-px: 2px;
$border-radius-px-round: 4px;
$border-radius-px-rounder: 7px;
$border-radius-px-roundest: 10px;

$font-bold: 625;
$font-bolder: 700;